<label>Server Name</label>
<!-- <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)" /> -->

<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName" />
<p *ngIf="serverName; else serverNull">{{ serverCreationStatus }}</p>
<ng-template #serverNull>
  <p>server name null</p>
</ng-template>


<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
<p [innerText]="allowNewServer"></p>
<p
  [ngStyle]="{backgroundColor: getColor()}"
  [ngClass]="{online: serverStatus === 'online'}"
  >{{ serverStatus }}
</p>

<ul *ngFor="let item of servers">
  <li>{{ item }}</li>
</ul>

