
@keyframes ldio-imozbxanr7a {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-imozbxanr7a div {
  left: 45px;
  top: 3.5px;
  position: absolute;
  animation: ldio-imozbxanr7a linear 1s infinite;
  background: #71bcfe;
  width: 10px;
  height: 19px;
  border-radius: 5px / 9.5px;
  transform-origin: 5px 46.5px;
}.ldio-imozbxanr7a div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #71bcfe;
}.ldio-imozbxanr7a div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #71bcfe;
}.ldio-imozbxanr7a div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #71bcfe;
}.ldio-imozbxanr7a div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #71bcfe;
}.ldio-imozbxanr7a div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #71bcfe;
}.ldio-imozbxanr7a div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #71bcfe;
}.ldio-imozbxanr7a div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #71bcfe;
}.ldio-imozbxanr7a div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #71bcfe;
}.ldio-imozbxanr7a div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #71bcfe;
}.ldio-imozbxanr7a div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #71bcfe;
}.ldio-imozbxanr7a div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #71bcfe;
}.ldio-imozbxanr7a div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #71bcfe;
}
.loadingio-spinner-spinner-hkqp1f5b2ah {
  width: 91px;
  height: 91px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-imozbxanr7a {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.91);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-imozbxanr7a div { box-sizing: content-box; }